body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #1a1919;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(206, 38, 38, 0.1);
    max-width: 800px; 
    margin: 50px auto;
}

.barra {
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    /* Mantiene los enlaces en una fila */
    width: 100%;
    padding: 0.5rem;
    align-items: center;
    background-color: transparent;
    margin: 0;
}

.barra a {
    color: #ddd;
    text-decoration: none;
    margin: 0 0.8rem;
    font-size: 1rem;
    padding: 0.3rem;
    transition: background-color 0.3s, color 0.3s;  /* Transición suave */
    position: relative; 
    transition: all 0.3s;
}

.barra a:hover {
    background-color: rgba(198, 45, 45, 0.3);  /* Cambio de color de fondo */
    color: #ffffff;  /* Cambio de color del texto */
    box-shadow: 0 4px 8px rgba(251, 249, 249, 0.878); 
}

h1 {
    font-size: 2.5rem;
    color: #fff9f9;
    border-bottom: 2px solid #a73333;
    padding-bottom: 18px;
    text-align: center; 
    
}

p {
    margin-left: 26px;
    margin-right: 26px;
    text-align: justify;
    color: #767676;
    line-height: 1.5;
    margin: left 9px; ;
    font-size: 1.6rem;
    }

@media (max-width: 480px) {
    p{
        font-size: 14px;
    }
    h1{
        font-size: 20px;
    }
    .barra a{
        margin: 0 0;
        font-size: 0.7rem;
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(50px); /* Comienza desplazado hacia abajo */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Llega a la posición original */
    }
}

h1 {
    animation: slide-in 1s ease-in-out; /* Aplica la animación al título */
}

p {
    animation: slide-in 1.5s ease-in-out; /* Aplica la animación al párrafo */
}
@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-50px); /* Comienza por arriba */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Llega a su posición normal */
    }
}

.barra {
    animation: slide-down 1s ease-in-out; /* Aplica la animación a la barra */
}
